*{
    position: absolute;
    background-color: rgba(0, 255, 21, 0.5);/*alpha é a transparencia  1 é o maximo*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 50px; /*distancia dos elementos e da borda*/
    font-size: 50px;
    color:rgb(0, 60, 255);
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 60%;
}