html{
    position: absolute;
    color:rgb(30, 255, 0);
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: hsl(239, 73%, 37%);/*alpha é a transparencia  1 é o maximo*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 20px; /*distancia dos elementos e da borda*/
    font-size: 70px;
}